.message {
	all: unset;
	margin-right: 3rem;
	padding: 0.5rem;
	text-align: left;
	font-size: 1.125rem;
	align-self: center;
	width: 80%;
	overflow-y: hidden;
	resize: none;
	max-height: 40rem;
}

.message:focus {
	border: none;
}
