.commentContainer {
	text-align: left;
	margin-left: 1rem;
	margin-right: 1.5rem;
}

.userContainer {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	text-align: left;
}

.userImage {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

.nameContainer {
	display: flex;
	gap: 0.5rem;
	align-items: flex-end;
}

.userName {
	all: unset;
	font-weight: bold;
}

.userName:hover {
	all: unset;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.impression {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.userAt {
	color: rgb(83, 100, 113);
	font-size: 0.9rem;
}

.comment {
	font-size: 1rem;
}

.deleteHeading {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
}

.subText {
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 2rem;
}

.modalContent {
	text-align: left;
}

.userOption {
	margin-left: auto;
}
