.commentContainer {
	text-align: left;
	margin-left: 1rem;
	margin-right: 1rem;
}

.userContainer {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	text-align: left;
}

.userImage {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

.nameContainer {
	display: flex;
	gap: 0.5rem;
	align-items: flex-end;
}

.userName {
	font-weight: bold;
}

.userName:hover {
	text-decoration: underline;
}

.impression {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.userAt {
	color: rgb(83, 100, 113);
	font-size: 0.9rem;
}

.comment {
	font-size: 1rem;
}
