.container {
	top: 0;
	position: sticky;
	width: 25rem;
	margin-left: 10rem;
}

ul {
	list-style: none;
}

.linkContainer {
	display: flex;
	flex-direction: column;
}

.linkItem {
	all: unset;
	font-size: 1.5rem;
	margin: 1rem;
	color: black;
	text-decoration: none;
}

.linkContent {
	display: flex;
	gap: 1rem;
	border-radius: 2rem;
	padding: 1rem 2rem 1rem 2rem;
}

.linkContent:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

.linkItem:last-child {
	margin-top: 35rem;
}

.active {
	font-weight: bold;
}

.logoutBtn {
	all: unset;
	width: 100%;
	min-height: 100%;
	background-color: red;
}
