.dialogContainer {
	position: relative;
	border: var(--outline);
	border-radius: 1rem;
	min-width: 30rem;
	max-width: 30rem;
	min-height: auto;
}

.btn {
	width: 100%;
	flex: 1;
}

.btnContainer {
	display: flex;
	margin-bottom: auto;
	gap: 1rem;
}
