.button {
	flex: 1;
	background-color: transparent;
	border-radius: 5px;
	font-size: 2rem;
	border: 0;
}

.button:active {
	flex: 1;
	background-color: transparent;
	border-radius: 5px;
	font-size: 2rem;
	border: 0;
}

.liked {
	color: blue;
	font-weight: bold;
}

.liked:hover {
	color: rgba(25, 100, 255, 1);
	font-weight: bold;
}

.iconContainer {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	min-height: 1.75rem;
	font-size: 1.25rem;
	margin: 0.25rem 0;
	cursor: pointer;
}

.buttonText {
	color: rgb(83, 100, 113);
	font-size: 1rem;
}

.iconContainer:hover {
	color: rgba(25, 100, 255, 1);
}
